@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  padding-top: 217px;
  padding-bottom: 506px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 300%), url(../img/headerbg.png);
  background-position: center;
  background-color: #000915;
  background-repeat: no-repeat;
}

.header__top-div {
  margin-bottom: 32px;
}

.header__top-text {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
}

.header__text {
  width: 481px;
  height: 64px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 44px;
}

.text-bold {
  font-weight: 700;
}

.header__btn {
  display: inline-block;
  padding: 13px 74px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  text-decoration: none;
}

.header__btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #888888;
}

.header__btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.main {
  padding-top: 128px;
  padding-bottom: 128px;
  background: #000915;
}

.row {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.main__game-box {
  width: 378px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.main__text {
  display: block;
  position: absolute;
  bottom: 10%;
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
  padding-left: 32px;
  font-weight: 600;
  font-size: 24px;
}

.main__box-img {
  border-radius: 16px;
}

.cta {
  padding-top: 233px;
  padding-bottom: 233px;
  background-color: #000915;
  background-position: center;
}
.cta .reverse {
  flex-direction: row-reverse;
  padding-top: 6px;
  padding-bottom: 6px;
}
.cta__row {
  display: flex;
  -moz-column-gap: 135px;
       column-gap: 135px;
  align-items: center;
}
.cta__top-div {
  margin-bottom: 32px;
}
.cta__top-text {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 78px;
  display: flex;
  align-items: center;
}
.cta__text {
  width: 584px;
  height: 64px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
}
.cta__btn {
  display: inline-block;
  padding: 13px 74px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  text-decoration: none;
}
.cta__btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #888888;
}

.bottom {
  background: url(../img/unsplash_iO0I6-mhDEY.png);
  background-position: center;
  padding-top: 276px;
  padding-bottom: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000915;
  background-repeat: no-repeat;
}
.bottom__top-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
}
.bottom__text {
  text-align: center;
}
.bottom__btn {
  display: inline-block;
  padding: 13px 74px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 32px;
}
.bottom__btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #888888;
}

.footer {
  background: #000915;
  padding: 32.5px 0px;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

@media (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
  }
  .body {
    color: #FFFFFF;
  }
  .container {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .header {
    padding-top: 239px;
    padding-bottom: 239px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 300%), url(../img/headerbgMob.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__top-div {
    margin-bottom: 32px;
  }
  .header__top-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .header__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    width: 343px;
    height: 66px;
  }
  .row {
    flex-wrap: wrap;
    row-gap: 32px;
  }
  .main__text {
    padding-left: 16px;
    padding-bottom: 2px;
  }
  .cta {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .cta__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .cta__top-text {
    font-size: 32px;
    line-height: normal;
    display: block;
  }
  .cta__top-text::after {
    content: "!";
    display: none;
  }
  .cta__text {
    font-size: 14px;
    display: inline;
  }
  .cta__left {
    text-align: center;
  }
  .cta__btn {
    display: block;
    margin-top: 32px;
  }
  .cta__img {
    width: 344px;
    height: 236px;
    margin-top: 64px;
  }
  .bottom {
    padding-top: 52px;
    padding-bottom: 710px;
    background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 300%), url(../img/mob/unsplash_iO0I6-mhDEY.png), #000915;
  }
  .bottom__top-text {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 32px;
  }
  .bottom__text {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
}/*# sourceMappingURL=style.css.map */